/*Element*/
label {
        font-family: ;
}
/*Class*/
.c1 {

}
/*Id*/
#id1{

}
/*Star*/
*{
        border: 1px solid gray;
}
/*Descendant*/
form input{
        font-style: oblique;
}
/*Adjacent*/
table + div{
        border: 2px solid black;
}

/*Attribute Selector*/
input[value="None"]{
        font-size: 60px;
}
/*nth of type*/
option:nth-of-type(3){
        color:red;
}
