table{
        margin:20px;
        text-align: center;
}

.text{
        margin:50px;
        font-size: 30px;
        min-width: 400px;
        min-height: 100px;
}

td{
  padding:20px;
  margin:30px;
}

.hide{
  visibility: hidden;
}

.water{
        color:blue;
        border:2px solid blue;
}
