table{
        margin:20px;
        text-align: center;
}

.text{
        margin:50px;
        font-size: 22px;
        width: 300px;
        height: 50px;
}

td{
  padding:10px;
  margin:30px;
  border: 2px solid white;
  color:white;
}

.hide{
  visibility: hidden;
}

.water{
        background-color: #7088C5;
}

.fire{
        background-color:#F08030;
}

.grass{
        background-color:#78C850;
}

.bug{
        background-color: #A8B820;
}

.flying{
        background-color: #A890F0;
}

.normal{
        background-color: #A8A878;
}

.psychic{
        background-color: #F85888;
}

.electric{
        background-color: #DDAC4A;
}

.ghost{
        background-color: #705898;
}

.fighting{
        background-color: #C03028;
}

.ice{
        background-color: #A4DFDB;
}

.ground{
        background-color: #CAB06A;
}

.dragon{
        background-color: #7038F8;
}

.poison{
        background-color: #A040A0;
}
