table{
        margin:20px;
}

.text{
        margin:50px;
        font-size: 30px;
        min-width: 400px;
        min-height: 100px;
}

td{
  border:2px solid black;
  padding:20px;
  margin:30px;
}

.hide{
  color: rgba(0,0,0,0);
}
