/*font-family*/
p{
        font-family: monospace;
}
h2{
        font-family: fantasy;
}
/*font-size*/
h2{
        font-size: 52px;
}
p{
        font-size: 20px;
}
span{
        font-size: 2.0em;
}
/*font-weight*/
p{
        font-weight: 100;/*100 200 300 400 500 600 700 800*/
}
/*line-height*/
p{
        line-height: 2;
}
/*text-align*/
h2{
        text-align: center;
}
/*text-decoration*/
h2{
        text-decoration:underline;
}
span{
        text-decoration:line-through; 
}
